@font-face {
    font-family: 'h1_font';
    src: url('fonts/h1_font.ttf');
}

@font-face {
    font-family: 'fter_font';
    src: url('fonts/fter_font.ttf')
}

*
{
    margin: 0;
    padding: 0;
}

header
{

    background-color: #FFFFFF;
    font-size: 2em;
    font-family: 'h1_font';
    text-align: center;
    color:green;
    border-bottom: 2px green ridge;
}

.new
{
    background-color: #FFFFFF;
    margin: 1%;
    padding: 1%;
    border: 2px green ridge;
    width: 20%;
    min-width: 16em;
}

.board
{
    background-color: #FFFFFF;
    margin: 1%;
    border: 2px green ridge;
    width: 55%;
    opacity: 0.8;
    height: 26em;
    overflow: scroll;
}

.X
{
    color: red;
}
td
{
    padding-left: 1em;
}

tr:hover
{
    color: red;
}


.item_name
{
    padding-right: 1em;
}

.task_done
{
    text-decoration: line-through;
    color: grey;
    padding-right: 1em;
}

.item
{
    margin: 1%;
    font-family: 'fter_font';
    font-size: 1.3em;
}

.RM:hover
{
    color: gold;
}

footer
{
    font-family: 'fter_font';
    font-size: 1.3em;
    background-color: #FFFFFF;
    border-top: 2px green ridge;
    margin-bottom: 0em; 
    margin-top: 2%;
}

.mail
{
    color: green;
    text-decoration: none;
    font-weight: bold;
}
.mail:hover
{
    color: gold;
}

body
{
    background-image: url("img/bck.jpg");
}

